*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    max-width: 100%;
    background: green;
}
.container{
    width: 75%;
    max-width: 75%;
    margin: auto;
    display: flex;
    padding: 20px;
}
.logo{
    width: 50%;
    max-width: 50%;
}
.logo h1{
    color: blue;
    font-size: 55px;
}
.logo p{
    margin-left: 25px;
    font-size: 20px;
}
.user{
    width: 50%;
    max-width: 50%;
    display: flex;
    padding: 20px;
}
.inic{
    margin: 10px;
}
.reg{
    margin: 10px;
}
.user a{
    text-decoration: none;
    color: blue;
    border: 2px solid blue;
    padding: 15px;
}
#val{
    width: 100%;
    max-width: 100%;
}
.valid{
    width: 75%;
    max-width: 75%;
    margin: auto;
}
.container1 {
    padding: 16px;
    background-color: white;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  a{
      text-decoration: none;
      color: rgb(30, 45, 255);
  }
  .next{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .next:hover {
    opacity: 1;
  }

  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
footer{
    width: 100%;
    max-width: 100%;
    background: green;
}
.container2{
    width: 75%;
    max-width: 75%;
    display: block;
    padding: 20px;
    margin: auto;
}
.name{
    text-align: center;
}
.name h1{
    color: blue;
    font-size: 55px;
}
.name p{
    font-size: 25px;
}

.tyc{
    text-align: center;
    padding: 20px;
}
.cuad{
    padding: 10px;
}
.cuad a{
    font-size: 20px;
    text-decoration: none;
    color: black;

}
@media(max-width: 1024px){
    .container{
    width: 100%;
    max-width: 100%;
    padding: 0;
    }
    .logo h1{
        font-size: 33px;
    }
    .logo p{
        font-size: 18px;
    }
}
@media(max-width: 530px){
    .user a{
        padding: 7px;
    }
}
@media(max-width: 450px){
    .user{
        display: block;
    }
    .user a{
        padding: 0;
    }
}
